/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib
/fatlib

/dist
/tmclean_v*_darwin_amd64

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/App-tmclean-*
